@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFF;
    
}

.heading{
    padding: 40px 24px 0px 24px;
}
h1{
    padding-top: 98px;
    font-weight: 600;
    font-size: 22px;
    color: #464646;
}
h2{
    padding-top: 3px;
    font-weight: 400;
    font-size: 18px;
    color: #464646;
}


.searchbar{
    position: relative;
    padding: 12px 24px;
}

.searchbar .fa-search{
    position: absolute;
    top: 36px;
    left: 16px;
}

.searchbar button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}